{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}



    <h1>Movie index</h1>


    <div class="container">
        <div class="row ">

            {% for movie in movies %}

                    <div class="col-sm mb-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://image.tmdb.org/t/p/w500{{ movie.image }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ movie.title }}</h5>
                                <p class="card-text">{{ movie.overview }}</p>
                                <a href="{{ path('movie_show', {id:movie.id}) }}" class="btn btn-warning mx-auto">Voir</a>
                                <p class="card-test">
                                {% for genre in movie.genres %}
                                    <a>{{ genre.name }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

            {% endfor %}

        </div>
    </div>


    {# <a href="{{ path('movie_new') }}">Create new</a> #}
{% endblock %}
